body {
  background-color: #f8f9fa;
}
.header {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.navbar {
  background-color: white;
}
.product{
  margin: 20px 10px;
  padding: 0; 

}
.borderBottom {
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.borderRight {
  padding: 20px;
  border-right: 1px solid rgba(0,0,0,.125);
}
.borderRightBottom {
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
}
.ctitle {
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.customCol {
  padding: 0px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.clearBoth {
  clear: both;
}
.imageContainer {
  text-align: center;
}
.productImg {
  max-width: 250px;
  max-height: 250px;
}
.searchBar {
  margin-top: 20px;
}